.custom {
    background-image: url(assets/world-1582347.jpg);
    height:91.25vh;
    background-size:cover;
    overflow-y: scroll;
}

::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background-image: url(assets/world-1582347.jpg); 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555; 
}

.more{
 background-image: url(assets/world-1582347.jpg);
 margin-top:3px;
}

.more1{
 /* background-image: url(/assets/world-1582347.jpg);
 margin-top:3px; */
 border-radius: 50%;
}