<div class="card" style="width: 18rem;">
    <img class="card-img-top" src={{countryflag}} alt="Card image cap">
    <div class="card-body">
        <h5 class="card-title">{{countryname}}</h5>
        <div class="card-text">
            <ul>
                <li>Capital - {{countrycapital}}</li>
                <li>Currency - {{countrycurrenciesname}}</li>
                <li>Currency Code - {{countrycurrenciescode}}</li>
                <li>Region - {{countryregion}}</li>
                <li>Sub-Region - {{countrysubregion}}</li>
                <li>Timezone - {{countrytimezones}}</li>
            </ul>
        </div>