<div class="custom">
  <h1 style="color:white;text-align:center">Welcome</h1>
  <div style="color:white;text-align:center">
    <h3>Filter Countries By</h3>
    <button type="button" class="btn btn-outline-light" routerLink="/region" style="margin-bottom:0.5rem">Region</button>
    <br/>
    <button type="button" class="btn btn-outline-light" routerLink="/currency" style="margin-bottom:0.5rem">Currency</button>
    <br/>
    <button type="button" class="btn btn-outline-light" routerLink="/lang">Language</button>
  </div>
</div>