.custom {
    width: 100vw;
    height: 91.25vh;
    background-image: url(assets/world-1582347.jpg);
}

.custom .h1{
    
}

.size{
   background-image: url(https://pixabay.com/get/e830b90d2bf0063ecd1f4c01ef444296e76ae3d01ab011469df7c97c/world-1582347.jpg) 
}